.App {
  text-align: center;
}

.container {
  margin: 0 2rem 2rem;
}

.title {
  font-family: 'Train One', cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #eeff00;
  background-color: black;
  margin: 0 0 2rem 0;
}

.MuiTableSortLabel-root:hover {
  color: #edeef7 !important;
}
